twilio
fastapi
fastapi-utils
uvicorn[standard]
gunicorn
python-dotenv
python-multipart
openai
trafilatura
langchain
qdrant-client
pandas
numpy
matplotlib
plotly
requests
openpyxl
tiktoken
plotly
kaleido
sqlalchemy
sqlalchemy-utils
databases
aiomysql
psycopg2
mysql-connector-python
python-telegram-bot
asyncio
redis
phonenumbers